@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    text-align: center;
    background-color: #305050;
    color: white;
    font-family: "Roboto", sans-serif;
}

.titulo-secundario{
    color: orange;
}

.footer{
    display: grid;
}

.imagem{
    width: 50%;
}

.corpo{
    border-top: 3px solid #808080;
    border: 3px solid #808080;
}