body {
    text-align: center;
    background-color: #305050;
    color: white;
}

.titulo-secundario{
    color: orange;
}

.footer{
    display: grid;
}

.imagem{
    width: 50%;
}

.corpo{
    border-top: 3px solid #808080;
    border-bottom: 3px solid #808080;
}